.to-main {
  position: absolute;
  top: 50px;
  left: 130px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  border: 2px dashed gold;
  color: gold;
  -webkit-transition: all, 1s;
  -o-transition: all, 1s;
  transition: all, 1s; }
  .to-main:hover {
    color: orange;
    border: 2px dashed orange; }

.teacher {
  background-color: green;
  background-image: url("../img/fon-beginer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1230px;
  min-height: 700px;
  padding: 60px 100px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-box-shadow: 0 -2px 15px gray;
          box-shadow: 0 -2px 15px gray; }

.teacher__title {
  display: inline-block;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Lobster", cursive;
  font-size: 42px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  padding: 10px 40px;
  margin-bottom: 40px;
  letter-spacing: 2px; }

.teacher__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px; }

.teacher__wrapptable {
  width: 500px; }

.teacher__wrapptable table {
  width: 500px;
  text-align: left; }
  .teacher__wrapptable table td {
    padding: 12px; }
  .teacher__wrapptable table:first-child {
    margin-bottom: 40px; }
  .teacher__wrapptable table:last-child {
    margin-left: 60px;
    width: 550px; }

.firstcell {
  font-size: 30px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  color: #d1fcca; }

.secondcell {
  font-size: 30px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  color: white; }

.teacherfoto {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  margin-right: 50px; }

.teacherfoto__image {
  border: 10px double white; }

.teacher-footer {
  border-top: 3px solid #ffffff; }

.teacher-footer__title {
  margin: 0;
  display: inline-block;
  padding: 20px 50px;
  color: #ffffff;
  font-size: 20px; }

.teacher-footer .slider2 {
  margin: 0;
  max-width: 1230px;
  height: 450px;
  margin: 0px auto; }

.slider2 .bxslider {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1; }

.slider2 .bxslider img {
  width: 100%;
  height: auto; }
