$beginer-col: #ffffff;
$border-rad: 5px;

.beginer-mobile {
  display: none;
}

.beginer-mobile__title {
  display: none;
}

.sliderheader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  height: 100vh;
  background-color: lightgray;
  border: 1px solid #000;
  transition: all 0.3s;
  font-size: 30px;
  & a {
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: green;
    font-weight: bold;
    box-shadow: 0 0 10px 1px gray;
    transform: scale(1);
    transition: all, 1s;
    font-size: 16px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.item:hover {
  flex-basis: 100%;
}
.item-1 {
  background-image: url("../img/child4.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.item-2 {
  background-image: url("../img/child2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.item-3 {
  background-image: url("../img/child3.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.item-4 {
  background-image: url("../img/child1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .sliderheader {
    display: none;
  }
  .beginer-mobile {
    display: block;
    background-image: url("../img/fon-beginer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 40px;
    padding-bottom: 50px;
    color: $beginer-col;
  }

  .beginer-mobile__title {
    display: block;
    margin: 0 100px;

    text-align: center;
    padding: 15px 40px;
    color: $beginer-col;
    border: 3px solid $beginer-col;
    font-family: "Lobster", cursive;
    font-size: 46px;
    border-radius: $border-rad * 2;
    margin-bottom: 280px;
  }
  
  .beginer-mobile__icon-wrapp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .beginer-mobile__text {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 270px;
    padding: 0 100px;
    color: $beginer-col;
    &:hover {
      color: orange;
    }
  }

  .beginer-mobile__image {
    position: absolute;
    top: -230px;
    left: 50%;
    margin-left: -105px;
  }



}

@media screen and (max-width: 567px) {
  .beginer-mobile__title {
    display: block;
    margin: 0 25px;
    padding: 15px 20px;
    font-size: 45px;
    margin-bottom: 280px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 425px) {
  .beginer-mobile__title {
    display: block;
    margin: 0 25px;
    padding: 15px 20px;
    font-size: 35px;
    margin-bottom: 280px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 320px) {
  .beginer-mobile__title {
    margin: 0;
    margin-bottom: 280px;
  }

  .beginer-mobile__text {
    padding: 0 80px;
    }
}