$site-backcol: #b0ccb4;
$light-backcol: #ffffff;
$nav-backcol: #dceef7;
$button-backcol: green;
$title-menu-col: #5f5ffa;
$cabdir-color: #0000ff;
$border-rad: 5px;
$shadow: 0 0 8px gray;

/*header*/

.main-header .container {
	
}

.main-header-topsection {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	box-sizing: border-box;
	background-color: $light-backcol;
	background-image: linear-gradient(to top, #e8eae8, #ffffff);
}

.title-doc {
	margin: 0;
	width: 120%;
	font-family: 'Vollkorn SC', serif;
	font-weight: bold;
	font-size: 55px;
	text-align: center;
	color: $title-menu-col;
	margin-right: 55px;
}

.sprite-svg {
	width: 200px;
	height: auto;
	margin-left: 30px;
}



/*site nav*/
.section-menu {
	background-color: $nav-backcol;
	width: 100%;
	box-sizing: border-box;
	padding: 0 30px;
	padding-top: 2px;
	padding-bottom: -2px
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-left: 40px;
}

.button-mobile {
	display: none;
}

.menu__link {
	display: block;
	padding: 12px 24px;
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.menu__item:first-child .menu__link {
	padding-left: 0;
}

.menu__item:last-child .menu__link {
	padding-right: 0;
}



/*main-block*/
.main-block__mobile-image {
	display: none;
}
/*slider*/
.slider {
	max-width: 1230px;
	height: 450px;
	margin: 0px auto;
}

.bxslider {
	position: relative;
	width: 100%;
	height: auto;
	z-index: -1;
}

.bxslider img {
	width: 100%;
	height: auto;
}


/*news*/
.news {
	background-color: $light-backcol;
	padding: 76px 30px;
	padding-bottom: 50px;
	box-shadow: 0 2px 15px gray;
}

.news .title {
	margin-bottom: 80px;
	text-align: center;
} 

.all-news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 100%;
}

.all-news__item {
	display: flex;
	border: 1px solid #f0f0f0;
	margin-bottom: 30px;

	width: 568px;
}

.all-news__image {
	width: 284px;
	height: 304px;
}

.all-news__info {
	width: 254px;
	text-align: center;
	padding: 27px 15px;
}
 
.all-news__info .title-second {
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.all-news__text {
	margin: 0;
	margin-bottom: 64px;
	font-size: 14px;
	line-height: 24px;
	color: #919191;
}

.all-news__button {
	display: inline-block;
	padding: 13px 50px;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	background-color: $button-backcol;
	&:hover, &:active {
		color: $button-backcol;
		background-color: #ffffff;
		outline: 1px solid $button-backcol;
	}
}

.all-news__item:nth-of-type(2) .all-news__button {
	margin-left: 2px;
}

.all-news__item:nth-of-type(3) .all-news__button,
.all-news__item:nth-of-type(4) .all-news__button {
	padding: 13px 45px;
}





/*paralacs*/
.parallax-window {
	position: relative;
	min-height: 342px;
	/*background: rgba(228, 255, 0, 0.2);*/
	background: transparent;
	max-width: 1230px;
	margin: 0 auto;
	overflow: hidden;
}

.parallax-window--mobile {
	display: none;
}

.parallax-s__wrapp {
	position: absolute;
	width: 500px;
	top: 50%;
	left: 50%;
	margin-top: -95px;
	margin-left: -240px;
	text-align: center;
}


.title--paralacs {
	display: block;
	color: gold;
	margin-bottom: 5px;
}

.parallax-s__text {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	margin-bottom: 28px;
	color: gold;
}

.hands {
	display: block;
	margin: 0 auto;
}

/*information*/
.info {
	display: flex;
	justify-content: flex-end;
	background-color: $button-backcol;
	border-bottom: 2px solid #f0f0f0;
	box-shadow: $shadow;
}

.info-title {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;

	width: 100%;
	margin: 0 auto;
	padding-right: 35px;
	box-sizing: border-box;
	background-color: $button-backcol;
	
}

.info-title__text {
	position: relative;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
}

.info-textblock {
	display: flex;
	justify-content: flex-start;

	padding:20px 30px;
	padding-top: 5px;
	padding-bottom: 25px;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	background-color: $light-backcol;
	box-shadow: $shadow;
}

.info-textblock__left,
.info-textblock__right  {
	width: 50%;
	min-height: 100px;
	padding: 0 15px;
}


.info-textblock__maintext {
	font-size: 18px;
	font-weight: bold;
	color: $button-backcol;
	padding-right: 15px;
}

/*director*/
.director {
	background-color: #d3dbea;
	background-image: url("../img/cab-dir.jpg");
	background-repeat: no-repeat;
	max-width: 1230px;
	min-height: 700px;
	padding: 60px 100px;
	padding-bottom: 160px;
	text-align: center;
	box-shadow: 0 -2px 15px gray;
}

.director__title {
	display: inline-block;
	margin: 0 auto;
	color: $cabdir-color;
	font-family: "Lobster", cursive;
	font-size: 42px;
	border: 3px solid $cabdir-color;
	border-radius: $border-rad;
	padding: 10px 40px;
	margin-bottom: 40px;
	letter-spacing: 2px;
}

.director__main {
	display: flex;
	justify-content: space-between;

	width: 100%;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.director__wrapptable {
	width: 500px;
}

.director__wrapptable table{
	width: 500px;
	text-align: left;
	& td {
		padding: 12px;
	}
	&:first-child {
		margin-bottom: 40px;
	}
	&:last-child {
		margin-left: 60px;
		width: 550px;
	}
}

.director__foto {
	max-width: 300px;
}

.dirfirstcell {
	font-size: 30px;
	font-family: "Times New Roman", serif;
	font-weight: bold;
	color: #000000;
}

.dirsecondcell {
	font-size: 30px;
	font-family: "Times New Roman", serif;
	font-weight: bold;
	color: desaturate($cabdir-color, 40%);
}
.director__foto {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	margin-right: 50px;
}

.director__foto__image {
	border: 10px double desaturate($cabdir-color, 70%);
}

.director-footer {
	border-top: 3px solid $cabdir-color;
}
.director-footer__title {
	margin: 0;
	display: inline-block;
	padding: 20px 50px;
	color: $cabdir-color;
	font-size: 20px;
}

.director-footer__foto-for-mobile {
	display: none;
}

.director-footer .slider2 {
	margin: 0;
	max-width: 1230px;
	height: 450px;
	margin: 0px auto;
}

.slider2 .bxslider {
	position: relative;
	width: 100%;
	height: auto;
	z-index: -1;
	
}

 .slider2 .bxslider img {
	width: 100%;
	height: auto;

}


/*for-parants*/
.for-parants {
	background-color: #f9e7c4;
	padding: 40px 100px;
	box-shadow: $shadow;
}

.for-parants__block {
	background-color: #ffffff;
	border-radius: $border-rad * 2;
	padding: 20px;
	box-shadow: $shadow;
	margin-bottom: 25px;
}

.for-parants__title {
	font-family: "Lobster", cursive;
	font-size: 42px;
	margin-bottom: 30px;
	letter-spacing: 2px;
	color: #a56e05;
	text-align: center;
}

.for-parants__text {
	margin-top: 10px;
	font-size: 16px;
	line-height: 1.5;
}
.for-parants__icon {
	display: inline;
	margin-left: 30px;
	margin-right: 10px;
}

.for-parants__calendar-text {
	font-weight: bold;
}





.main-footer .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $nav-backcol;
	padding: 25px 0;
	padding-bottom: 35px;
	text-align: center;
	box-shadow: $shadow;
}


.footer__logo {
	width: 130px;
	height: auto;
}

.main-footer__wrappcenter {
	text-align: left;
}

.main-footer__link {
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
	text-decoration: underline;
	&:hover{
		color: orange;
	}
}

.main-footer__text {
	display: block;
	font-size: 20px;
	color: green;
	&--col {
		color: #000000;
		font-size: 18px
	}
}

.developer__title {
	margin: 0;
	line-height: 1.2;
	font-size: 20px;
	color: green;
}

.developer__link {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: $border-rad;
	color: #ffffff;
	background-color: blue;
	transition: all, 1s;
	&:hover {
		background-color: purple;
	} 
}












@media screen and (max-width: 1024px) {
	.maindocum .container {
		max-width: 924px;
		padding: 0 50px;
	}

	.title-doc {
		margin: 0;
		width: 80%;
		font-family: 'Vollkorn SC', serif;
		font-weight: bold;
		font-size: 40px;
		text-align: center;
		color: $title-menu-col;
		margin-right: 55px;
	}

	.sprite-svg {
		width: 100px;
		height: auto;
		margin-left: 30px;
	}


	/*site nav*/
	.menu {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;

		padding: 0 70px;
	}

	.button-mobile {
		display: none;
	}

	.menu__link {
		padding: 12px 25px;
	}

	/*news*/
	.news {
		margin-top: -110px;
	}


	.all-news {
		display: flex;
		justify-content: space-around;
		align-content: center;
		flex-wrap: wrap;
	}

	.all-news__item {
		width: 625px;
	}

	.all-news__image {
		width: 314px;
		height: 334px;
	}

	.all-news__info {
		width: 281px;
	}

	/*paralacs*/
	.parallax-window {
		width: 100%;
		box-sizing: border-box;
		height: auto;
	
	}

	.parallax-window--mobile {
		display: none;
	}


	/*director*/
	.director {
		width: 100%;
		box-sizing: border-box;
		padding: 60px 60px;
		padding-bottom: 100px;
	}


	.director__main {
		display: flex;
		justify-content: space-between;

		width: 100%;
		box-sizing: border-box;
		margin-bottom: 30px;
	}

	.director__wrapptable {
		width: 400px;
		height: auto;
	}

	.director__wrapptable table{
		width: 400px;
		text-align: left;
		& td {
			padding: 4px;
		}
		&:first-child {
			margin-bottom: 40px;
		}
		&:last-child {
			margin-left: 0px;
			width: 450px;
		}
	}

	.director__foto {
		max-width: 300px;
	}

	.dirfirstcell {
		font-size: 25px;
	}

	.dirsecondcell {
		font-size: 25px;
	}
	.director__foto {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 450px;
		margin-right: 50px;
	}
	
	.for-parants {
		margin-top: -80px;
	}

	.main-footer .container {
		justify-content: space-between;
		width: 100%;
		box-sizing: border-box;
		padding-top: 30px;
		padding-bottom: 50px;
	}




	.main-footer .sprite-svg--mobile {
		display: block;
		width: 100px;
		height: auto;
		margin-left: 20px;
		outline: 1px solid red;
	}

	.footer__logo {
		width: 100px;
		height: auto;
	}
	

}

@media screen and (max-width: 768px) {
	.maindocum .container {
		max-width: 668px;
		padding: 0 50px;
	}

	.title-doc {
		margin: 0;
		width: 80%;
		font-family: 'Vollkorn SC', serif;
		font-weight: bold;
		font-size: 50px;
		text-align: center;
		color: $title-menu-col;
		margin-right: 55px;
	}

	#fotogall {
		display: none;
	}

	.section-menu {
		position: relative;
		padding-left: 20px;
		padding: 10px 0;
	}
	.button-mobile {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		margin-left: 20px;
		outline: none;
		border: none;
		background-color: $button-backcol;
		&::after {
			position: absolute;
			content: "";
			width: 24px;
			height: 2px;
			background-color: #fff;
			box-shadow: 0 7px #fff,
						0 14px #fff;
			left: 50%;
			top: 12px;
			margin-left: -12px;
		}
	}

	.menu {
		position: absolute;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		left: 60px;
		top: 10px;
		width: 100px;
		background-color: lightblue;
		z-index: 10000;
		padding: 0;
		padding-right: 45px;
	}


	.menu__item:first-child .menu__link {
		padding-left: 30px;
	}

	.main-menu-mobile--close {
		display: none;
	}

	.parallax-window {
		display: none;
	}
	.parallax-window--mobile {
		display: block;
		position: relative;
		min-height: 342px;
		background: transparent;
		max-width: 1230px;
		margin: 0 auto;
		overflow: hidden;
	}

	.news {
		margin-top: -210px;
	}

	
	/*director*/
	.director {
		padding: 60px 40px;
	}


	.director__main {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;

		width: 100%;
		box-sizing: border-box;
		margin-bottom: 30px;
	}

	.director__wrapptable {
		order: 1;
		width: 400px;
		height: auto;
	}

	.director__wrapptable table{
		margin-left: -50px;
		width: 550px;
		text-align: left;
		& td {
			padding: 12px;
		}
		&:first-child {
			margin-bottom: 40px;
		}
		&:last-child {
			margin-left: -50px;
			width: 550px;
		}
	}

	.director__foto {
		max-width: 400px;
		margin-bottom: 20px;
	}

	.dirfirstcell {
		font-size: 30px;
	}

	.dirsecondcell {
		font-size: 30px;
	}
	.director__foto {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 450px;
		margin-right: 0px;
	}
	
	.for-parants {
		margin-top: -150px;
	}

	/*information*/

	.info-textblock {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		padding:20px 30px;
		padding-top: 5px;
		padding-bottom: 25px;
		width: 100%;
		box-sizing: border-box;
		height: auto;
		background-color: $light-backcol;
		box-shadow: $shadow;
	}

	.info-textblock__left,
	.info-textblock__right  {
		width: 100%;
	}

	.main-footer .container {
		justify-content: space-between;
		width: 100%;
		box-sizing: border-box;
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.main-footer__link {
		font-size: 16px;
	}

	.main-footer__text {
		font-size: 16px;
		&--col {
			font-size: 14px;
		}
	}

	.developer__title {
		font-size: 16px;
	}

	.developer__link {
		padding: 10px 15px;
	}

}

@media screen and (max-width: 425px) {
	.main-header-topsection {
		justify-content: space-around;
		align-content: center;
		align-items: center;
	}

	.main-header-topsection .sprite-svg {
		display: none;
	}
	.title-doc {
		font-size: 25px;
		margin-right: 0;
		margin: 30px 0;
	}

	.main-header-topsection {
		flex-wrap: wrap;
	}

	/*slider*/
	.slider {
		max-width: 570px;
		max-height: 150px;
	}
	
	.news {
		margin-top: -60px;
	}

	/*news*/
	.all-news {
		-webkit-box-pack: justify;
		-webkit-justify-content: center;
	    -ms-flex-pack: justify;
	}
	.all-news__item {
		flex-wrap: wrap;
		justify-content: center;
		max-width: 628px;
	}

	.all-news__info {
		order: 1;
	}

	.director__title {
		font-size: 30px
	}

	.director__wrapptable {
		order: 1;
		width: 400px;
		height: auto;
	}

	.director__wrapptable table{
		margin-left: 0;
		width: 250px;
		text-align: left;
		& td {
			padding: 2px;
		}
		&:first-child {
			margin-bottom: 10px;
		}
		&:last-child {
			margin-left: 0;
			width: 250px;
		}
	}

	.dirfirstcell {
		font-size: 12px;
	}

	.dirsecondcell {
		font-size: 14px;
	}

	.director-footer__foto-for-mobile {
		display: block;
		width: 275px;
		height: auto;
	}
	.director-footer .slider2 {
		display: none;
	}


	/*for-parants*/
	.for-parants {
		margin-top: 0px;
		padding: 40px 20px;
	}

	/*information*/
	.info-title {
		padding-right: 0;
		
	}

	.info-title__text {
		position: relative;
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		line-height: 24px;
		text-transform: uppercase;
		color: #ffffff;
	}

	.info-textblock {
		display: flex;
		justify-content: flex-start;

		padding: 20px 10px;
		padding-top: 5px;
		padding-bottom: 25px;
		width: 100%;
		height: auto;
		background-color: $light-backcol;
		box-shadow: $shadow;
	}

	.info-textblock__left,
	.info-textblock__right  {
		width: 100%;
		padding: 0;
	}


	.info-textblock__maintext {
		font-size: 14px;
		padding-right: 5px;
		vertical-align: top;
	}
	.info-textblock__secondtext {
		vertical-align: top;
		font-size: 14px;
	}

	.main-footer .container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		width: 325px;
		box-sizing: border-box;
	}

	.main-footer__wrappcenter {
		padding: 30px 60px;
	}

	.main-footer__link {
		width: 120px;
		margin-bottom: 10px;
		padding: 10px;
		color: #ffffff;
		background-color: #0c0164;
		border-radius: $border-rad;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
	}

}

@media screen and (max-width: 375px) {
	.maindocum .container {
		max-width: 320px;
		padding: 0;
	}

	.news {
		margin-top: -30px;
	}

	.news .title {
		margin-bottom: 20px;
	}

	.all-news__image {
		width: 230px;
		height: auto;
	}

	.all-news__info {
		width: 230px;
	}

	.all-news__text {
		margin-bottom: 20px;
	}


	.main-block .slider {
		display: none;
	}

	.main-footer .container {
		padding-top: 20px;
		padding-bottom: 40px;
	}
	
}

